.todoform{
    background-color: white;
    border-radius:  8px;
    margin-top : 30px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top:50px;
    box-shadow: 0 4px 6px rgba(238, 88, 88, 0.1)
}


.modifyInput{
    width:100%;
    border:none;
    display:block;
    color:black;
    font-size:16px;

}

.modifyInput:focus{
    outline: none;
}
.modifyButton{
    display: inline-block;
    border: none;
    border-radius: 4px;
    background-color: rgb(248, 143, 101);
    padding: 10px;
    color:white;
    cursor:pointer;

}

.inputContainer{
    display:flex;
}